*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }

    .home{
        height: 100%;
    }
    .menu{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    }  

    

  .jogos{
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .logosicons{
  height: 20%;
  }